<kirby></kirby>

<section>
  <div>
    <app-tabs>
      <app-tab title="Timers">
        <app-timer *ngFor="let timer of timers" [init]="timer" (onComplete)="showEndTimerAlert()"></app-timer>
        <button class="add" (click)="showAddTimer()">+</button>
      </app-tab>
      <app-tab title="Timers Signals">
        <section>
          <div>
            <h1>Timers Signals</h1>
            <app-timer-s [init]="15"></app-timer-s>
          </div>
        </section>
      </app-tab>
      <app-tab title="Crono"></app-tab>
      <app-tab title="Alarm"></app-tab>
    </app-tabs>
  </div>

  <app-alert-view
    [hidden]="!isAddTimerVisible"
  >
    <div header>Add Timer</div>
    <label>Set the number of seconds for your timer</label>
    <input
      [(ngModel)]="time"
      type="number"
      #timeInput
    >
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="submitAddTimer()">Ok</button>
  </app-alert-view>

  <ng-container #alert></ng-container>

</section>
