* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

:host .add {
    position: fixed;
    color: white;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
    font-size: 30px;
    background-color: #DDD;
}

:host .add:active {
  background-color:#AAA;
}

:host .cancel-button{
  margin-right: 10px;
  background-color: #777;
}

:host .cancel-button:active{
  background-color: #444;
}

:host > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

:host > div h1 {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

:host > div app-timer {
  flex-grow: 1;
}

:host input.time-in {
  font-weight: 600;
  color: #9932cc;
  font-size: 12px;
}
