:host {
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
  }

  .layout__container {
    position: relative;
    width: 900px;
    height: 600px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .layout__ball {
    position: absolute;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    border: 20px solid black;
    overflow: hidden;
  }

  .ball__top {
    background-color: red;
    width: 340px;
    height: 50%;
  }

  .ball__line {
    background-color: black;
    width: 100%;
    height: 26px;
    margin-top: -10px;
  }

  .ball__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100px;
    height: 100px;
    border: 15px solid black;
    border-radius: 50%;
    z-index: 1;
  }

  .ball__bottom {
    background-color: white;
    width: 340px;
    height: 50%;
  }
}

